:root
    font-size: 62.5%
    font-family: $mainFont
    scroll-behavior: smooth

body
    min-height: 100%
    font-size: 1.6rem
    background-color: $beige
    contain: paint

html
    overflow-x: hidden

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-weight: 300

h1,h2
    font-style: italic

h3
    font-weight: 500
    color: $golden

strong
    font-weight: 500

.hide
    position: absolute
    opacity: 0
    pointer-events: none

.container
    width: min(1366px, 100%)
    margin: 0 auto

/* Preloader _____________________________________________________________ */

.loading
    overflow: hidden

    *
        opacity: 0

    .pre-loader
        opacity: 1

        &__spin
            animation: spin 10s linear infinite

            span
                animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite

        *
            opacity: 1

    .home::before
        backdrop-filter: blur(0)

.pre-loader
    background-color: $beige
    position: fixed
    inset: 0
    z-index: 999
    opacity: 0
    pointer-events: none
    transition: opacity 1s
    display: flex
    align-items: center
    justify-content: center

    &__spin
        --spinSize: 10vh
        --spinSize: 10dvh
        position: relative
        height: var(--spinSize)
        width: var(--spinSize)
        transform-origin: center center

        span
            border: 1rem solid $golden
            border-color: $golden transparent transparent transparent
            border-radius: 50%
            position: absolute
            height: 100%
            width: 100%
            inset: 0

            $addDelay: 0
            @for $i from 1 through 6
                &:nth-child(#{$i})
                    animation-delay: $addDelay+s
                $addDelay: $addDelay + .2

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

/* Home _____________________________________________________________ */

.home
    height: 100vh
    height: 100dvh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: #eee
    background-image: url($homeBackground)
    background-position: left center
    background-size: cover
    background-attachment: fixed

    &::before
        content: ''
        position: absolute
        inset: 0
        height: 100%
        width: 100%
        backdrop-filter: blur(3px)
        background-color: rgba(black, .3)
        transition: backdrop-filter 2s

    &__logo
        height: 25vh
        margin: 0 auto
        display: block

        @include max-md
            height: auto
            margin: 0 auto
            width: 80%

    &__wrapper
        position: relative
        max-width: 100%
        padding: 0 5rem

        @include max-md
            width: 100%

.home-nav
    display: none

    @include md
        display: block
        margin-top: 5rem
        transition: all .5s

    &__list
        display: flex
        flex-direction: row
        justify-content: center
        list-style: none
        margin-bottom: .8rem

    &__item
        &:not(:last-child)
            &::after
                content: ''
                position: relative
                display: inline-block
                width: .5rem
                height: .5rem
                background: #fff
                box-shadow: 0 0 1rem rgba(#000,.4)
                transform: translateY(-75%) rotate(45deg)

    &__link
        text-decoration: none
        font-size: 2.8rem
        color: #fff
        font-weight: 300
        padding: 1rem
        text-shadow: 0 0 1rem rgba(#000,.4)

.decor
    width: 100%

    &--rotate
        transform: rotate(180deg)

.cls-1
    fill: #fff

.cls-2
    fill: transparent
    stroke: #fff
    stroke-width: 2px

/* Main Content____________________________________________________________________ */
.main-nav
    display: none

.main-content
    position: relative

    .section
        display: flex
        align-items: stretch
        @include md
            padding: 10rem

.section
    min-height: 100vh
    min-height: 100dvh
    position: relative

    &--right
        justify-content: flex-end

        .section__wrapper
            order: 1

        .section__images
            right: 50%
            left: auto

    p,ul
        font-size: 3rem
        line-height: 1.3
        text-align: justify

    &__wrapper
        align-self: center

        @include md
            width: 100ch

            &--sobre
                width: 80ch

    &__title
        color: $golden
        font-size: 10rem
        margin-bottom: 7rem

        span
            display: block
            color: #000
            font-style: normal
            font-size: .4em
            margin-bottom: -.3em

    &__holder
        display: flex

        > *
            flex: 1
    &__list
        padding-left: 1.5ch

        li
            text-align: left
            margin-bottom: .5rem

        span
            display: block
            font-size: .7em
            font-style: italic

        h3
            margin-left: -2ch
            margin-bottom: 1rem

    &__image-anchor
        flex: 1
        position: relative
        height: auto

    &__images
        display: grid
        width: max-content
        height: 100%
        grid-auto-columns: 300px
        grid-template-rows: 100%
        grid-template-columns: repeat(2, 450px)
        gap: 2rem
        position: absolute
        top: 0
        left: 50%

    &__image-holder
        position: relative

        img
            position: absolute
            height: 100%
            width: 100%
            object-fit: cover

.obs
    text-align: right
    font-style: italic
    color: $golden
    margin-top: 4rem
    font-size: 1.9rem
/* Stick Section_________________________________________________________________________ */
.sticky
    position: sticky
    top: 0
    display: flex
    flex-wrap: nowrap

/* Gellery_________________________________________________________________________ */
#gallery
    display: grid
    height: 100%
    gap: 2rem
    grid-template-rows: repeat(3, 1fr)
    grid-auto-columns: 300px
    grid-auto-rows: 0
    grid-auto-flow: column dense
    width: max-content

    div
        overflow: hidden
        position: relative

    img
        height: 100%
        width: 100%
        object-fit: cover
        position: absolute
