:root
    font-size: 62.5%
    font-family: $mainFont
    scroll-behavior: smooth

body
    min-height: 100%
    font-size: 1.6rem
    background-color: $beige
    overflow-x: hidden
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-weight: 300

:is(h1,h2,h3)
    font-style: italic

strong
    font-weight: 500

.section
    height: 100vh
    height: 100dvh

.hide
    position: absolute
    opacity: 0
    pointer-events: none
/* Preloader _____________________________________________________________ */

.loading
    overflow: hidden

    *
        opacity: 0

    .pre-loader
        opacity: 1

        &__spin
            animation: spin 10s linear infinite

            span
                animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite

        *
            opacity: 1

    .home::before
        backdrop-filter: blur(0)       

.pre-loader
    background-color: #eee
    position: fixed
    inset: 0
    z-index: 999
    opacity: 0
    pointer-events: none
    transition: opacity 1s
    display: flex
    align-items: center
    justify-content: center

    &__spin
        --spinSize: 10vh
        --spinSize: 10dvh
        position: relative
        height: var(--spinSize)
        width: var(--spinSize)
        transform-origin: center center

        span
            border: 1rem solid $golden
            border-color: $golden transparent transparent transparent
            border-radius: 50%
            position: absolute
            height: 100%
            width: 100%
            inset: 0

            $addDelay: 0
            @for $i from 1 through 6
                &:nth-child(#{$i})
                    animation-delay: $addDelay+s
                $addDelay: $addDelay + .2

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

/* Home _____________________________________________________________ */

.home
    height: 100vh
    height: 100dvh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: #eee
    background-image: url($homeBackground)
    background-position: left center
    background-size: cover
    background-attachment: fixed

    &::before
       content: ''
       position: absolute
       inset: 0
       height: 100%
       width: 100%
       backdrop-filter: blur(3px)
       background-color: rgba(black, .3)
       transition: backdrop-filter 2s
    
    &__logo
        height: 25vh
        margin: 0 auto
        display: block
        
        @include max-md
            height: auto
            margin: 0 auto
            width: 80%

    &__wrapper
        position: relative
        max-width: 100%
        padding: 0 5rem

        @include max-md
            width: 100%


.home-nav
    display: none

    @include md
        display: block
        margin-top: 5rem
        transition: all .5s

    &__list
        display: flex
        flex-direction: row
        justify-content: center
        list-style: none
        margin-bottom: .8rem

    &__item
        &:not(:last-child)
            &::after
                content: ''
                position: relative
                display: inline-block
                width: .5rem
                height: .5rem
                background: #fff
                box-shadow: 0 0 1rem rgba(#000,.4)
                transform: translateY(-75%) rotate(45deg)

    &__link
        text-decoration: none
        font-size: 2.8rem
        color: #fff
        font-weight: 300
        padding: 1rem
        text-shadow: 0 0 1rem rgba(#000,.4)


.decor
    width: 100%
    
    &--rotate
        transform: rotate(180deg)

.cls-1
    fill: #fff

.cls-2
    fill: transparent
    stroke: #fff
    stroke-width: 2px

/* Main Content____________________________________________________________________ */
.main-nav
    display: none

.main-content
    position: relative

    .section
        display: flex
        align-items: center
        @include md            
            padding: 10rem
            

.section   
    p
        font-size: 3rem
        line-height: 1.3
        text-align: justify

    &__wrapper
        @include md
            width: 80ch
            width: 80ch

    &__title
        color: $golden
        font-size: 10rem
        margin-bottom: 7rem


/* Stick Section_________________________________________________________________________ */
.sticky
    position: sticky
    top: 0    
    display: flex
    flex-wrap: nowrap
    //overflow: hidden

    /* &-container
        width: 100% */

/* Gellery_________________________________________________________________________ */
#gallery
    display: grid
    height: 100%
    gap: 2rem
    grid-template-rows: repeat(3, 1fr)
    grid-auto-columns: 300px
    grid-auto-rows: 0
    grid-auto-flow: column 
    width: max-content

    div
        overflow: hidden
        position: relative

    img
        height: 100%
        width: 100%
        object-fit: cover
        position: absolute
        